ul.side-by-comparison {
  overflow: hidden;
  clear: both;
  margin: 0;
}

ul.side-by-comparison li {
  float: left;
  margin-right: 20px;
  list-style: none;
}

ul.side-by-comparison li:last-child {
  margin-right: 0;
}

ul.side-by-comparison pre {
  padding: 0;
  margin: 0;
  width: 100%;
}

code {
  line-height: 1em;
  font-size: 30px;
}